# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.db
backend/data/
backend/session_data/
backend/temp/
backend/tailored_resumes/
backend/resumes/


# Node/React
node_modules/
dist/
.env

# OS
.DS_Store
